<!DOCTYPE html>
<head>
    <title>Machine Learning</title>
</head>
<body>

    <form action="predicao" method="POST">
        <input type="text" name="radius_mean"/>
        
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="texture_mean"/>
       
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="perimeter_mean"/>
       
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="area_mean"/>
        
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="smoothness_mean"/>
       
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="compactness_mean"/>
       
    </form>
    <form action="predicao" method="POST">
        <input type="text" name="concavity_mean"/>
        <button>Enviar</button>
    </form>

</body>
</html>